:root {
  --card-bg: hsl(0, 100%, 97%);
  --card-bg-shadow: hsl(0, 100%, 75%);
  --ga-red: #ed1c24;
  font-size: 16px;
}

.allblogs-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 1em;
  margin: 1rem 1rem auto auto;
}

.allblogs-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 3rem;
}

.allblogs-header {
  margin: 3rem 0 0 0;
  color: var(--ga-red);
}

@media only screen and (max-width: 1050px) {
  .allblogs-card-container {
    grid-template-columns: 1fr;
  }
}
