.allblogs-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 1em;
  margin: 1rem 1rem auto auto;
}

.allblogs-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 3rem;
}

.allblogs-header {
  margin: 2rem 0;
}
