.auth-container {
  min-height: 75vh;
  display: grid;
  place-content: center;
  margin-top: 3rem;
}

.user-input {
  width: 200px;
  display: flex;
  align-items: center;
  margin-right: 1em;
  box-shadow: rgba(238, 27, 27, 0.4) -5px 5px,
    rgba(184, 74, 74, 0.3) -10px 10px;
  margin-top: 0.31em;
  margin-bottom: 1em;
  input {
    padding: 0.8em 2em;
    border: 2px solid black;
  }
}

.auth-btn {
  width: 50px;
  margin-left: 4.5em;
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  input {
    padding: 0.8em 2em;
    border: 2px solid black;
    white-space: nowrap;
    text-align: center;
    background: #29f1bf;
    box-shadow: #178569 -5px 5px;
    cursor: pointer;
  }
  i {
    position: absolute;
    z-index: 1;
    padding: 0em 0.5em;
    color: #333;
  }
}

.register-link {
  font-size: 1em;
  width: 200px;
  margin-top: 1.3em;
  .link-btn {
    color: #912fca;
    margin-left: 3px;
  }
}
