.comments-card {
  background: var(--card-bg);
  box-shadow: -6px 6px 0px 0px var(--card-bg-shadow);
  display: flex;
  height: 100px;
  min-width: 200px;
}

.comments-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
