* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  overflow-y: scroll;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
