:root {
  --card-bg: hsl(0, 100%, 97%);
  --card-bg-shadow: hsl(0, 100%, 75%);
  --ga-red: #ed1c24;
  font-size: 16px;
}

.main-content {
  width: clamp(400px, 50%, 800px);
  margin-top: 3em;
}

.header-container {
  margin-bottom: 3rem;
  overflow-x: hidden;
}

.latest-header {
  margin: 3rem 0 0 0;
  color: var(--ga-red);
}

.latest-header-line {
  height: 0.3em;
  background: var(--ga-red);
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
}

.blog-card-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 3rem;
}

.blog-card {
  min-width: 600px;
  width: 600px;
  background: var(--card-bg);
  box-shadow: -6px 6px 0px 0px var(--card-bg-shadow);
  display: flex;
  height: clamp(160px, 200px, 250px);
  transition: 0.3s ease;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  flex: 1;
  .blog-card-title {
    color: #5b5b5b;
    font-size: clamp(0.4em, 1.2em, 1.2em);
  }
  .author-container {
    display: flex;
    align-items: center;
    span {
      margin-right: 2px;
      font-size: 0.6em;
    }
    h3 {
      color: #ec2d2d;
      font-weight: 400;
      font-size: 0.8em;
    }
  }
  .date-container {
    margin: 3px 0;
    h3 {
      color: #858585;
      font-weight: 300;
      font-size: 0.6em;
    }
  }
  .blog-body-container {
    font-size: clamp(0.4em, 0.9em, 0.9em);
    color: #535353;
    font-weight: 200;
  }
  .links-container {
    display: flex;
    align-items: center;
    .blog-card-btn {
      display: flex;
      align-items: center;
      height: 1.5em;
      padding: 0em 0.5em;
      margin: 5px 0;
      align-items: center;
      background: #1ce0ed;
      color: #0a5b61;
      box-shadow: #0a5b61 -5px 5px 1px;
      border-radius: 1px;
      font-size: 1em;
      font-weight: 600;
    }
    .comments-container {
      display: flex;
      align-items: center;
      font-size: 0.8em;
      i {
        color: #494949;
        margin: 0 0.3em;
      }
    }
    .likes-container {
      display: flex;
      align-items: center;
      font-size: 0.8em;
      i {
        color: #494949;
        margin: 0 0.3em;
      }
    }
  }
}

@media only screen and (max-width: 1420px) {
  .blog-body-container {
    display: none;
  }

  .blog-card-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
  }
  .blog-card {
    min-width: 400px;
    width: 400px;
    background: var(--card-bg);
    box-shadow: -6px 6px 0px 0px var(--card-bg-shadow);
    display: flex;
    height: clamp(160px, 200px, 250px);
  }
  .comments-container,
  .likes-container {
    p {
      display: none;
    }
    i {
      display: none;
    }
  }
  .info-container {
    .blog-card-title {
      font-size: 0.9em;
    }
  }
}
