:root {
  --bg-color: rgb(181, 181, 201);
}

.main-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.blog-card-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.blog-card {
  background: var(--bg-color);
}

.card-content {
  padding: 1.5rem;
  .card-title {
    font-size: 1.5em;
    font-weight: 300;
    position: relative;
    width: max-content;
    max-width: 100%;
  }
  .card-body {
    font-weight: 200;
    margin: 0.5em 0;
  }
}
