.profile-container {
  min-height: 72vh;
  display: grid;
  place-content: center;
  h2 {
    width: 600px;
    display: flex;
    align-items: center;
    margin-right: 1em;
    background: rgb(238, 220, 220);
    box-shadow: rgba(238, 27, 27, 0.4) -5px 5px,
      rgba(184, 74, 74, 0.3) -10px 10px;
    margin-top: 0.31em;
    margin-bottom: 1em;
  }
}
