:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #535353;
  --text-secondary: #ececec;
  --bg-primary-dark: #23232e;
  --bg-secondary-dark: #141418;
  --bg-primary-light: #ffffff;
  --bg-secondary-light: #141418;
  --bg-red: rgb(235, 161, 161);
  --transition-speed: 600ms;
}

.navbar {
  width: 10rem;
  margin-top: 5rem;
  background: var(--bg-primary-light);
  position: fixed;
  border-right: 2px solid var(--bg-red);
  transition: width 0.4s ease;
  &:hover {
    width: 20rem;
  }
  .navbar-nav {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s ease;
  }
  .nav-link {
    color: var(--text-primary);
    transition: 0.3s ease;
    &:hover {
      background-color: var(--bg-red);
    }
  }
}

@media only screen and (max-width: 1440px) {
  .navbar {
    width: 9rem;
    &:hover {
      width: 9rem;
    }
  }
}
