:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #535353;
  --text-secondary: #ececec;
  --bg-primary-dark: #23232e;
  --bg-secondary-dark: #141418;
  --bg-primary-light: #ffffff;
  --bg-secondary-light: #141418;
  --border-light-red: hsl(0, 33%, 81%);
  --bg-light: rgba(255, 251, 213, 0.1);
  --ga-red: #ed1c24;
  --transition-speed: 600ms;
}

.navbar {
  width: 10rem;
  margin-top: 5rem;
  background: transparent;
  position: fixed;
  border-right: 1px solid var(--border-light-red);
  transition: width 0.4s ease;
  &:hover {
    width: 15rem;
  }
  .navbar-nav {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s ease;
  }
  .nav-link {
    color: var(--text-primary);
    transition: 0.5s ease;
    font-size: 1.2em;
    font-weight: 500;

    padding: 1rem;
    &:hover {
      background-color: var(--ga-red);
      border-radius: 20px;
      color: #eee;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .navbar {
    width: 9rem;
    &:hover {
      width: 9rem;
    }
  }
}
