.create-container {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  label {
    text-align: left;
    display: block;
  }
  h2 {
    font-size: 20px;
    color: #ed1c24;
    margin-bottom: 30px;
  }
  input,
  textarea,
  select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    display: block;
  }
  button {
    width: 100%;
    font-size: 2em;
    border: none;
    background: #e94d4d;
    color: #ffffff;
    padding: 0.5em 0;
    border-radius: 3px;
    margin: 2em 0 5em 0;
    cursor: pointer;
  }
}
