* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: linear-gradient(#eee, rgb(170, 170, 170));
  min-height: 100vh;
  overflow-x: hidden;
}

.blog-card-container {
  place-content: center;
  display: grid;
  margin-top: 3em;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, 250px);
  height: 100%;
}

.blog-card {
  background: rgb(138, 146, 207);
  padding: 8rem 0 0;
  max-width: 40ch;
  color: rgb(5, 32, 37);
  border-radius: 0.5rem;
  overflow: hidden;
  background: linear-gradient(
    rgb(223, 223, 230),
    rgb(231, 231, 236) 20%,
    rgb(153, 173, 172)
  );
  box-shadow: rgba(50, 50, 93, 0.25) 1px 3px 5px -2px,
    rgba(0, 0, 0, 0.3) 1px 1px 3px -1px;
  transition: box-shadow 0.5s ease;
  &:hover {
    // transform: scale(1.05);
    box-shadow: rgb(47, 49, 48) 0px 20px 30px -10px;
  }
}

.card-content {
  padding: 1.5rem;
  .card-title {
    font-size: 1.5em;
    font-weight: 300;
    position: relative;
    width: max-content;
    max-width: 100%;
  }
  .card-body {
    font-weight: 200;
    margin: 0.5em 0;
  }
}
