* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  overflow-y: scroll;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  background: #ece9e6;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#ffffff), to(#ece9e6));
  background: linear-gradient(to left, #ffffff, #ece9e6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

:root {
  --card-bg: hsl(0, 100%, 97%);
  --card-bg-shadow: hsl(0, 100%, 75%);
  --ga-red: #ed1c24;
  font-size: 16px;
}

.main-content {
  width: clamp(400px, 50%, 800px);
  margin-top: 3em;
}

.header-container {
  margin-bottom: 3rem;
  overflow-x: hidden;
}

.latest-header {
  margin: 3rem 0 0 0;
  color: var(--ga-red);
}

.latest-header-line {
  height: 0.3em;
  background: var(--ga-red);
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
}

.blog-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.blog-card {
  min-width: 600px;
  width: 600px;
  background: var(--card-bg);
  -webkit-box-shadow: -6px 6px 0px 0px var(--card-bg-shadow);
          box-shadow: -6px 6px 0px 0px var(--card-bg-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: clamp(160px, 200px, 250px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info-container .blog-card-title {
  color: #5b5b5b;
  font-size: clamp(0.4em, 1.2em, 1.2em);
}

.info-container .author-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-container .author-container span {
  margin-right: 2px;
  font-size: 0.6em;
}

.info-container .author-container h3 {
  color: #ec2d2d;
  font-weight: 400;
  font-size: 0.8em;
}

.info-container .date-container {
  margin: 3px 0;
}

.info-container .date-container h3 {
  color: #858585;
  font-weight: 300;
  font-size: 0.6em;
}

.info-container .blog-body-container {
  font-size: clamp(0.4em, 0.9em, 0.9em);
  color: #535353;
  font-weight: 200;
}

.info-container .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-container .links-container .blog-card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5em;
  padding: 0em 0.5em;
  margin: 5px 0;
  align-items: center;
  background: #1ce0ed;
  color: #0a5b61;
  -webkit-box-shadow: #0a5b61 -5px 5px 1px;
          box-shadow: #0a5b61 -5px 5px 1px;
  border-radius: 1px;
  font-size: 1em;
  font-weight: 600;
}

.info-container .links-container .comments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
}

.info-container .links-container .comments-container i {
  color: #494949;
  margin: 0 0.3em;
}

.info-container .links-container .likes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
}

.info-container .links-container .likes-container i {
  color: #494949;
  margin: 0 0.3em;
}

@media only screen and (max-width: 1420px) {
  .blog-body-container {
    display: none;
  }
  .blog-card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
    width: 100%;
  }
  .blog-card {
    min-width: 400px;
    width: 400px;
    background: var(--card-bg);
    -webkit-box-shadow: -6px 6px 0px 0px var(--card-bg-shadow);
            box-shadow: -6px 6px 0px 0px var(--card-bg-shadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: clamp(160px, 200px, 250px);
  }
  .comments-container p,
  .likes-container p {
    display: none;
  }
  .comments-container i,
  .likes-container i {
    display: none;
  }
  .info-container .blog-card-title {
    font-size: 0.9em;
  }
}

:root {
  --header-bg-dark: hsl(0, 0%, 15%);
  --header-bg-light: hsl(0, 0%, 94%);
  --clr-bg: #ddd;
}

header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: var(--header-bg-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
}

.header-logo span {
  font-weight: 900;
  margin-left: 0.2em;
  color: crimson;
}

.header-logo h2 {
  font-weight: 300;
  color: #ed1c24;
  letter-spacing: 1px;
  margin-left: 0.2em;
}

.header-logo img {
  width: 5.5em;
  height: 5.5em;
  cursor: pointer;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-bar {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
}

.search-bar input {
  padding: 0.9em 2em;
  border: 2px solid #fc9c9c;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: rgba(238, 27, 27, 0.4) -6px 5px, rgba(184, 74, 74, 0.3) -10px 10px;
          box-shadow: rgba(238, 27, 27, 0.4) -6px 5px, rgba(184, 74, 74, 0.3) -10px 10px;
}

.search-bar i {
  position: absolute;
  z-index: 1;
  padding: 0.5em;
  color: #333;
}

.create-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.create-post div {
  padding: 0.5em 2em;
  border: 2px solid #be6fff;
  white-space: nowrap;
  color: #1e0d2c;
  background: #d29aff;
  -webkit-box-shadow: #73548b -5px 5px;
          box-shadow: #73548b -5px 5px;
  font-weight: 500;
}

.create-post i {
  position: absolute;
  z-index: 1;
  padding: 0em 0.5em;
  color: #333;
  font-size: 1.3em;
}

.my-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.my-profile div {
  padding: 0.5em 2em;
  border: 2px solid #00ffbf;
  white-space: nowrap;
  text-align: center;
  color: #083328;
  background: #29f1bf;
  -webkit-box-shadow: #178569 -5px 5px;
          box-shadow: #178569 -5px 5px;
  font-weight: 500;
}

.my-profile i {
  position: absolute;
  z-index: 1;
  padding: 0em 0.5em;
  color: #333;
  font-size: 1.3em;
}

.main-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-top: 0;
}

.blog-header-img {
  width: 100%;
  z-index: -10;
}

.blog-title {
  font-size: 5em;
  font-weight: 600;
  letter-spacing: 5%;
  text-transform: capitalize;
  padding: 1em 0;
}

.social-links {
  padding: 1em 0;
}

.social-links i {
  margin-right: 1em;
  font-size: 1.8em;
  color: #be9c9c;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  cursor: pointer;
}

.social-links i:hover {
  color: #d24a4a;
}

.blog-summary {
  font-size: 2em;
  font-weight: 200;
  padding: 2em;
  color: #d24a4a;
  text-align: center;
}

hr {
  border: none;
  height: 20px;
  width: 50%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #dfdfdf;
  -webkit-box-shadow: 0 20px 20px -20px #333;
          box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}

.blog-body {
  margin: 5em 0;
  font-size: 1.5em;
  font-weight: 300;
}

body-img {
  width: 100%;
  margin: 2em;
}

.blog-tags button {
  margin-right: 1em;
  -webkit-box-shadow: -6px 6px 0px 0px rgba(0, 0, 0, 0.6);
          box-shadow: -6px 6px 0px 0px rgba(0, 0, 0, 0.6);
  background: #bc8df6;
  padding: 0.2em 0.5em;
  font-size: 1.5em;
  cursor: pointer;
}

.blog-tags button button {
  padding: 0.5em 1em;
  border: none;
  background: #bc8df6;
}

.home-btn {
  width: 100%;
  font-size: 2em;
  border: none;
  background: #4de9c2;
  color: #ffffff;
  padding: 0.5em 0;
  border-radius: 3px;
  margin: 2em 0 0 0;
  cursor: pointer;
}

.delete-blog-btn {
  width: 100%;
  font-size: 2em;
  border: none;
  background: #e94d4d;
  color: #ffffff;
  padding: 0.5em 0;
  border-radius: 3px;
  margin: 2em 0 5em 0;
  cursor: pointer;
}

.auth-container {
  min-height: 75vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin-top: 3rem;
}

.user-input {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
  -webkit-box-shadow: rgba(238, 27, 27, 0.4) -5px 5px, rgba(184, 74, 74, 0.3) -10px 10px;
          box-shadow: rgba(238, 27, 27, 0.4) -5px 5px, rgba(184, 74, 74, 0.3) -10px 10px;
  margin-top: 0.31em;
  margin-bottom: 1em;
}

.user-input input {
  padding: 0.8em 2em;
  border: 2px solid black;
}

.auth-btn {
  width: 50px;
  margin-left: 4.5em;
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-btn input {
  padding: 0.8em 2em;
  border: 2px solid black;
  white-space: nowrap;
  text-align: center;
  background: #29f1bf;
  -webkit-box-shadow: #178569 -5px 5px;
          box-shadow: #178569 -5px 5px;
  cursor: pointer;
}

.auth-btn i {
  position: absolute;
  z-index: 1;
  padding: 0em 0.5em;
  color: #333;
}

.register-link {
  font-size: 1em;
  width: 200px;
  margin-top: 1.3em;
}

.register-link .link-btn {
  color: #912fca;
  margin-left: 3px;
}

.create-container {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.create-container label {
  text-align: left;
  display: block;
}

.create-container h2 {
  font-size: 20px;
  color: #ed1c24;
  margin-bottom: 30px;
}

.create-container input,
.create-container textarea,
.create-container select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  display: block;
}

.create-container button {
  width: 100%;
  font-size: 2em;
  border: none;
  background: #e94d4d;
  color: #ffffff;
  padding: 0.5em 0;
  border-radius: 3px;
  margin: 2em 0 5em 0;
  cursor: pointer;
}

.error-404 {
  height: 70vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
  max-width: 400px;
  margin: 2em auto;
  font-size: 1.6em;
}

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #535353;
  --text-secondary: #ececec;
  --bg-primary-dark: #23232e;
  --bg-secondary-dark: #141418;
  --bg-primary-light: #ffffff;
  --bg-secondary-light: #141418;
  --border-light-red: hsl(0, 33%, 81%);
  --bg-light: rgba(255, 251, 213, 0.1);
  --ga-red: #ed1c24;
  --transition-speed: 600ms;
}

.navbar {
  width: 10rem;
  margin-top: 5rem;
  background: transparent;
  position: fixed;
  border-right: 1px solid var(--border-light-red);
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}

.navbar:hover {
  width: 15rem;
}

.navbar .navbar-nav {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.navbar .nav-link {
  color: var(--text-primary);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 1.2em;
  font-weight: 500;
  padding: 1rem;
}

.navbar .nav-link:hover {
  background-color: var(--ga-red);
  border-radius: 20px;
  color: #eee;
}

@media only screen and (max-width: 1440px) {
  .navbar {
    width: 9rem;
  }
  .navbar:hover {
    width: 9rem;
  }
}

@media only screen and (max-width: 700px) {
  .navbar {
    display: none;
  }
}

.profile-container {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.comments-card {
  background: var(--card-bg);
  -webkit-box-shadow: -6px 6px 0px 0px var(--card-bg-shadow);
          box-shadow: -6px 6px 0px 0px var(--card-bg-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  min-width: 200px;
}

.comments-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

:root {
  --card-bg: hsl(0, 100%, 97%);
  --card-bg-shadow: hsl(0, 100%, 75%);
  --ga-red: #ed1c24;
  font-size: 16px;
}

.allblogs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 1em;
  margin: 1rem 1rem auto auto;
}

.allblogs-card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 3rem;
}

.allblogs-header {
  margin: 3rem 0 0 0;
  color: var(--ga-red);
}

@media only screen and (max-width: 1050px) {
  .allblogs-card-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */