* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: rgb(181, 181, 201);
}

.main-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

.blog-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.blog-card {
  background: var(--bg-color);
  -webkit-box-shadow: -6px 6px 0px 0px rgba(0, 0, 0, 0.6);
          box-shadow: -6px 6px 0px 0px rgba(0, 0, 0, 0.6);
}

.card-content {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-content .card-title {
  font-size: 1.5em;
  font-weight: 300;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
}

.card-content .info-container {
  margin-right: 20px;
  position: relative;
}

.card-content .card-image {
  -webkit-box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.6);
          box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.6);
}

.card-content .card-body {
  font-weight: 200;
  margin: 0.5em 0;
}

.card-content .comments-btn {
  color: black;
}

.card-content .blog-card-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.5em 1em;
  border: none;
  background: #bc8df6;
  color: black;
  font-size: 1em;
  -webkit-box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.6);
          box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.6);
}

:root {
  --clr-primary: #ee6352;
  --clr-body: #333;
  --clr-bg: #ddd;
}

nav {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 2fr;
      grid-template-columns: 8fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5em auto;
}

.nav-logo img {
  width: 6em;
  height: 6em;
  margin: 1em;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar {
  width: 300px;
  margin-right: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar input {
  padding: 0.5em 0.8em;
  width: 100%;
}

.search-bar i {
  position: absolute;
  z-index: 1;
  padding: 0.5em;
  color: #333;
}

.main-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.blog-header-img {
  width: 100%;
}

.blog-title {
  font-size: 5em;
  font-weight: 600;
  letter-spacing: 5%;
  text-transform: capitalize;
  padding: 1em 0;
}

.social-links {
  padding: 1em 0;
}

.social-links i {
  margin-right: 1em;
  font-size: 1.8em;
  color: #be9c9c;
}

.blog-summary {
  font-size: 2em;
  font-weight: 200;
  padding: 2em;
  color: #d24a4a;
}

hr {
  border: none;
  height: 20px;
  width: 50%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #dfdfdf;
  -webkit-box-shadow: 0 20px 20px -20px #333;
          box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}

.blog-body {
  margin: 5em 0;
  font-size: 1.5em;
  font-weight: 300;
}

body-img {
  width: 100%;
  margin: 2em;
}

.blog-tags button {
  margin-right: 1em;
  -webkit-box-shadow: -6px 6px 0px 0px rgba(0, 0, 0, 0.6);
          box-shadow: -6px 6px 0px 0px rgba(0, 0, 0, 0.6);
  background: #bc8df6;
  padding: 0.2em 0.5em;
  font-size: 1.5em;
  cursor: pointer;
}

.blog-tags button button {
  padding: 0.5em 1em;
  border: none;
  background: #bc8df6;
}

.home-btn {
  width: 100%;
  font-size: 2em;
  border: none;
  background: #4de9c2;
  color: #ffffff;
  padding: 0.5em 0;
  border-radius: 3px;
  margin: 2em 0 5em 0;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */